<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .btn{
            display: inline-block;
            padding: 5px 10px;
            color: white;
            background-color: coral;

        }
    </style>
</head>
<body>
<h1>Ajax全套</h1>
<h3>jQuery Ajax与原生    发GET请求</h3>
<div>
    <a class="btn" onclick="AjaxSubmit1();">点我1</a>
    <a class="btn" onclick="AjaxSubmit2();">点我2</a>
</div>
<h3>jQuery Ajax与原生 发POST请求</h3>
<div>
    <a class="btn" onclick="AjaxSubmit3();">点我3</a>
    <a class="btn" onclick="AjaxSubmit4();">点我4</a>
</div>
<h3>Iframe标签+Form 伪造Ajax请求</h3>
<div>
   <div>
{#       <h6>学习iframe</h6>#}
{#       <div> <input id="url" placeholder="请输入URL"><a onclick="Test1();">查看</a>#}
{#       </div>#}
{##}
{#       <iframe id="iframe" style="height: 800px;width: 600px;" src="http://www.autohome.com.cn" frameborder="0"></iframe>#}
       
       <h6>基于iframe+Form表单</h6>
       <iframe id="iframe" name="ifra" ></iframe>
       <form id="fm" action="/ajax_test2.html/" method="post" target="ifra" >
           <input name="root" value="11111">
           <input type="submit" name="提交">
{#           <a onclick="AjaxSubmit5();"></a>#}
       </form>
   </div>
</div>
<script src="/static/jquery.min.js"></script>
<script>
    function Test1() {
        var url = $('#url').val();
        $('#iframe').attr('src',url);

    }
    //通过jQuery方式的Ajax方法 发送get请求
    function AjaxSubmit1() {
        $.ajax({
        url:'/ajax_test2.html',
        type:'GET',
        data:{'p':123},
        success:function(arg) {

	}
	
})
    }
    // 原生方式发送ajax的方法 XMLHTTPrequest对象 发送get请求
    function AjaxSubmit2() {
        var xhr = new XMLHttpRequest();
        xhr.onreadystatechange = function(){
           if (xhr.readyState == 4) {
               //接受完毕服务器返回的数据
               console.log(xhr.responseText);
           }
        };
        xhr.open('GET','/ajax_test2.html?p=123');
        xhr.send(null)
    }
    //通过jQuery方式的Ajax方法 发送post请求
    function AjaxSubmit3() {
        $.ajax({
// 注意下面的html后面必须带上链接结尾的'/' 不然会报错，只有post中才会这样。
        url:'/ajax_test2.html/',
        type:'POST',
        data:{'p':123},
        success:function(arg) {

	}

})
    }
    // 原生方式发送ajax的方法 XMLHTTPrequest对象 发送post请求
    function AjaxSubmit4() {
        var xhr = new XMLHttpRequest();
        xhr.onreadystatechange = function(){
           if (xhr.readyState == 4) {
               //接受完毕服务器返回的数据
               console.log(xhr.responseText);
           }
        };
        // 注意下面的html后面必须带上链接结尾的'/' 不然会报错，只有post中才会这样。
        xhr.open('POST','/ajax_test2.html/');
        //必须设置请求头 不然django不会帮我们解析出数据返回
        xhr.setRequestHeader('Content-Type','application/x-www-form-urlencoded; charset-UTF-8')
        //数据放在send里
        xhr.send('p=456')
    }
    function AjaxSubmit5() {
        document.getElementById('fm').submit()
    }
</script>
</body>
</html>